In [10]:
import numpy as np
import pandas as pd
from sklearn.naive_bayes import GaussianNB
from sklearn.model_selection import train_test_split

data = r'G:\bl.csv'
df = pd.read_csv(data)
df.rename(columns={'whether he/she donated blood in March 2007': 'Class','x.1': 'top-middle-square','x.2': 'top-right-square','x.3': 'middle-left-square','o': 'middle-middle-square','o.1': 'middle-right-square','x.4': 'bottom-left-square','o.2': 'bottom-middle-square','o.3': 'bottom-right-square','positive': 'Class', }, inplace=True)
print(df)
X = df.drop('Class', axis=1)  
y = df['Class']

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.20)

     Recency (months)  Frequency (times)  Monetary (c.c. blood)  \
0                   2                 50                  12500
1                   0                 13                   3250
2                   1                 16                   4000
3                   2                 20                   5000
4                   1                 24                   6000
5                   4                  4                   1000
6                   2                  7                   1750
7                   1                 12                   3000
8                   2                  9                   2250
9                   5                 46                  11500
10                  4                 23                   5750
11                  0                  3                    750
12                  2                 10                   2500
13                  1                 13                   3250
14                  2                  6                   1500
15                  2                  5                   1250
16                  2                 14                   3500
17                  2                 15                   3750
18                  2                  6                   1500
19                  2                  3                    750
20                  2                  3                    750
21                  4                 11                   2750
22                  2                  6                   1500
23                  2                  6                   1500
24                  9                  9                   2250
25                  4                 14                   3500
26                  4                  6                   1500
27                  4                 12                   3000
28                  4                  5                   1250
29                  4                  8                   2000
..                ...                ...                    ...
718                21                  3                    750
719                23                  8                   2000
720                21                  3                    750
721                23                  3                    750
722                21                  3                    750
723                23                  2                    500
724                21                  1                    250
725                21                  1                    250
726                25                  6                   1500
727                21                  1                    250
728                21                  1                    250
729                23                  3                    750
730                21                  2                    500
731                14                  3                    750
732                23                  1                    250
733                23                  1                    250
734                23                  1                    250
735                23                  1                    250
736                23                  1                    250
737                23                  1                    250
738                23                  1                    250
739                23                  4                   1000
740                23                  1                    250
741                23                  7                   1750
742                16                  3                    750
743                23                  2                    500
744                21                  2                    500
745                23                  3                    750
746                39                  1                    250
747                72                  1                    250

     Time (months)  Class
0               98      1
1               28      1
2               35      1
3               45      1
4               77      0
5                4      0
6               14      1
7               35      0
8               22      1
9               98      1
10              58      0
11               4      0
12              28      1
13              47      0
14              15      1
15              11      1
16              48      1
17              49      1
18              15      1
19               4      1
20               4      1
21              28      0
22              16      1
23              16      1
24              16      0
25              40      0
26              14      0
27              34      1
28              11      1
29              21      0
..             ...    ...
718             35      0
719             69      0
720             38      0
721             35      0
722             40      0
723             28      0
724             21      0
725             21      0
726             50      0
727             21      0
728             21      0
729             39      0
730             33      0
731             79      0
732             23      1
733             23      0
734             23      0
735             23      0
736             23      0
737             23      0
738             23      0
739             52      0
740             23      0
741             88      0
742             86      0
743             38      0
744             52      0
745             62      0
746             39      0
747             72      0

[748 rows x 5 columns]

NameError: name 'y_pred' is not defined

In [11]:
nb = GaussianNB()
nb.fit(X_train, y_train)
accuracy = nb.score(X_test, y_test)
y_pred = nb.predict(X_test)
print(accuracy)
print(y_pred)

0.7666666666666667
[1 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 1 0 0 1 0 0 0 0 0 0 0 0 1 0 1 0 0 1
 0 0 0 0 1 0 0 0 1 0 0 0 0 1 0 0 0 0 0 0 0 1 0 0 0 0 0 0 0 1 0 1 1 0 0 0 0
 1 1 0 1 0 0 0 1 0 0 0 0 0 0 1 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0
 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 1 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 1 0
 0 0]

In [12]:
from sklearn.metrics import classification_report, confusion_matrix

print(confusion_matrix(y_test, y_pred))  
print(classification_report(y_test, y_pred))

[[106  11]
 [ 24   9]]
             precision    recall  f1-score   support

          0       0.82      0.91      0.86       117
          1       0.45      0.27      0.34        33

avg / total       0.73      0.77      0.74       150